div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
    #Box1 {
        background-color: blue;
    }
    #Box2 {
        background-color: green;
        /* display: none; */
        /* visibility: hidden; */
    }
    #Box3 {
        background-color: rgba(255,0,0,0.7);
    }
/* button{
    color:white;
    background-color: green;
    display: block;
} */

